In [ ]:
def even_or_odd(n):
    """This function prints even or odd numbers"""
    return "even" if n % 2 == 0 else "odd"

In [4]:
even_or_odd(25)

'odd'

In [ ]:
def add(a, b):
    return a+b

In [ ]:
add(5, 10)

15

In [ ]:
def greet(name="guest"):
    return f'Hello {name} welcome to python learning course'

In [11]:
greet()

'Hello guest welcome to python learning course'

In [ ]:
# variable length args
# positional and keyword args
def print_nums(*args):
    for num in args:
        print(num)

In [13]:
print_nums(1)

1

In [ ]:
#  positional args
print_nums(1, 2, 3, 45, 6)

1
2
3
45
6

In [ ]:
# keyword args
#  all the params will be in k-v pairs
def print_details(**kwargs):
    for k, v in kwargs.items():
        print(f'{k}: {v}')

In [ ]:
print_details(name="adam", age=29, country='India')

name: adam
age: 29
country: India

In [ ]:
def print_both(*args, **kwargs):
    for val in args:
        print(f'Positional args: {val}')

    for k, v in kwargs.items():
        print(f'{k}: {v}')

In [ ]:
print_both(1, -1, 0, 'hello', name='adam', age=56, country='UK')

Positional args: 1
Positional args: -1
Positional args: 0
Positional args: hello
name: adam
age: 56
country: UK

In [ ]:
# in pyrhon u can return multiple values

def multiply(a, b):
    return a*b, a

In [ ]:
multiply(7, 9)

(63, 7)