##### The map() function

`map()` functions applies a given function to all items in an input list(or any other iterable)and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively

In [ ]:
def square(x):
    return x*x


square(10)

100

In [ ]:
numbers=[1,2,3,4,5,6]

# syntax
# map(fn,iterable) -> returns a map object
map(square,numbers)

In [ ]:
list(map(square, numbers))

[1, 4, 9, 16, 25, 36]

In [ ]:
# Lambda function with map
numbers = [1, 2, 3, 4, 5, 6]
list(map(lambda x: x*x, numbers))

[1, 4, 9, 16, 25, 36]

In [ ]:
#  can we map multiple iterables
num1 = [1, 2, 3]
num2 = [4, 5, 6]
# op: [5,7,9]

list(map(lambda x, y: x + y, num1, num2))

[5, 7, 9]

In [ ]:
# map to convert list of strings to integers
str_nums = ['2', '4', '6', '8']

list(map(int, str_nums))

[2, 4, 6, 8]

In [ ]:
words = ['apple', 'banana', 'cherries']

list(map(str.upper, words))

['APPLE', 'BANANA', 'CHERRIES']

In [ ]:
# map function to a list of dictionaries
def get_name(people):
    return people['name']


people = [
    {'name': 'modi', 'country': 'india'},
    {'name': 'trump', 'country': 'USA'},
    {'name': 'putin', 'country': 'russia'},
    {'name': 'melony', 'country': 'italy'}
]

list(map(get_name, people))

['modi', 'trump', 'putin', 'melony']